<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="location-switcher">
  <template>
    <style>
      :host {
        display: block;
      }

      ::-webkit-scrollbar {
        width: 8px;
        margin: 6px;
      }

      ::-webkit-scrollbar-track {
        display: none;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #d8d8d8;
      }

      body {
        margin: 0;
        padding: 0;
      }

      .halo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;
      }

      .halo span {
        font-size: 24px;
      }

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: #e9ecef;
        height: 48px;
      }

      .head span {
        cursor: pointer;
        text-decoration: underline;
      }

      .belongs {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 20px;
        background-color: rgba(233, 236, 239, 0.7);
      }

      .belongs p {
        margin: 0;

      }

      .add-new {
        padding: 0 20px;
        height: 300px;
        background-color: rgba(233, 236, 239, 0.5);
      }

      .foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 60px;
        background-color: #e9ecef;
      }

      paper-listbox {
        height: 300px;
        overflow: auto;
        padding: 0;
        margin: 0;
        background-color: rgba(233, 236, 239, 0.5);
      }

      paper-item {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }

      paper-button {
        border: 1px solid #979797;
        border-radius: 0;
      }

      .primary {
        padding: 0 0 0 20px;
      }

      .secondary {
        padding: 0 0 0 40px;
      }

      .tertiary {
        padding: 0 0 0 60px;
      }

      [hidden] {
        display: none;
      }
    </style>

    <div class="halo">
      <paper-button on-click="changeLocation">Change Location</paper-button><span>[[location]]</span>
    </div>

    <div class="container">
      <div class="head">
        Change Location <span on-click="add">Add New</span>
      </div>

      <div class="body">
        <div class="belongs" hidden>
          <p><b>[[newLocation]]</b> location belongs inside</p>
        </div>

        <div class="list">
          <paper-listbox>
            <template is="dom-repeat"
                      items="[[locations]]"
                      as="location"
                      index-as="locationIndex">
              <paper-item class="primary"
                          data-level="secondary"
                          data-index$="[[_computeIndex(locationIndex)]]"
                          on-click="setLevel">{{location.name}}</paper-item>
              <template is="dom-repeat"
                        items="[[_computeSecondary(locations, locationIndex)]]"
                        as="secondary"
                        index-as="secondaryIndex">
                <paper-item class="secondary"
                            data-level="tertiary"
                            data-index$="[[_computeIndex(locationIndex, secondaryIndex)]]"
                            on-click="setLevel">{{secondary.name}}</paper-item>
                <template is="dom-repeat"
                          items="[[_computeTertiary(locations, locationIndex, secondaryIndex)]]"
                          as="tertiary">
                  <paper-item class="tertiary">{{tertiary.name}}</paper-item>
                </template>
              </template>
            </template>
          </paper-listbox>
        </div>

        <div class="add-new" hidden>
          <paper-input always-float-label label="Location Name" value="{{newLocation}}"></paper-input>
          <paper-button on-click="next">Next</paper-button>
        </div>
      </div>

      <div class="foot">
        <paper-button id="go" on-click="go">GO</paper-button>
        <paper-button id="back" on-click="back" hidden>Back</paper-button>
        <paper-button id="save" on-click="save" hidden>Save</paper-button>
      </div>
    </div>

  </template>
  <script src="location-switcher.js"></script>
</dom-module>
